<!doctype>
<html lang="en">
<%- css('assets/new') %>
<%- css('assets/syntax')%>
<%- js('assets/jquery')%>
<%- js('assets/stuff')%>
<link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Halant' rel='stylesheet' type='text/css'>
<link href='/favicon.png' rel='icon'>

<meta content='width=device-width, initial-scale=1.0' name='viewport'>
<meta content='text/html; charset=utf-8' http-equiv='content-type' />
<meta content="http://muan.co/images/og.png" property="og:image" />

<title><%- page.title %> - <%-  config.title %></title>
